---
import Layout from '../layouts/Layout.astro';
import { members } from '../data/members.ts';
import MemberCard from '../components/MemberCard.astro';
import MemberModal from '../components/MemberModal.jsx';
---

<Layout title="Members">
  <div class="container mx-auto px-4 py-20 sm:py-32">
    <h1 class="text-5xl font-bold text-center mb-12 font-heading">Members</h1>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
      {members.map(member => (
        <MemberCard member={member} />
      ))}
    </div>
  </div>
  <MemberModal members={members} client:load />
</Layout>
