---
const videoTitle = "Music Video";
const videoDescription = "Check out our latest music video";
---

<section class="py-12 sm:py-16">
  <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-10">
      <h2 class="text-3xl font-bold font-heading text-text">Music Video</h2>
    </div>
    
    <div class="flex flex-col items-center">
      <div class="w-full max-w-3xl aspect-video">
        <a href="/mv" class="block">
          <div class="relative aspect-video w-full overflow-hidden rounded-xl shadow-lg">
            <img 
              src="https://img.youtube.com/vi/4aaufut-Uww/maxresdefault.jpg" 
              alt="Music Video thumbnail"
              class="w-full h-full object-cover"
              loading="lazy"
            />
            <div class="absolute inset-0 flex items-center justify-center">
              <div class="bg-white/20 backdrop-blur-sm rounded-full p-4">
                <svg class="w-16 h-16 mx-auto text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path>
                </svg>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>