---
import { Twitter, Youtube } from 'lucide-react';
---
<footer class="bg-primary-light">
  <div class="container mx-auto px-4 py-8">
    <div class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0">
      <p class="text-text text-sm">&copy; {new Date().getFullYear()} swimmin' parade</p>
      <div class="flex items-center space-x-6">
        <a href="https://x.com/swipara2023?s=21" target="_blank" rel="noopener noreferrer" class="text-text hover:text-primary transition-colors">
          <Twitter size={24} />
        </a>
        <a href="https://youtu.be/4aaufut-Uww?si=6WRR6nDznC9BXo38" target="_blank" rel="noopener noreferrer" class="text-text hover:text-primary transition-colors">
          <Youtube size={24} />
        </a>
      </div>
    </div>
  </div>
</footer>
